/* page MULTIMEDIA HTML2 */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho/altura total */
    overflow-x: hidden; /* Oculta desbordamiento horizontal */
}

/* Header y Slider */
header {
    position: relative; /* Permite posicionar absolutamente el nav respecto a este contenedor */
    width: 100%; /* Toma todo el ancho de la ventana */
    padding: 20px 20px; /* Añade padding para no pegar el contenido a los bordes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;  /* Asegura que el header esté por encima de otros elementos */
    display: flex;  /* Asegura que los elementos del header estén en una sola fila */
    align-items: flex-start; /* Alinea el contenido al inicio del eje cruzado */
    justify-content: center; /* Centra el contenido a lo largo del eje principal */
}

/* Navegación */
nav {
    position: relative; /* Asegura que el nav esté en la posición correcta */
    display: inline-flex; /* Asegura que los elementos de la lista estén en una sola fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 10px 20px; /* Ajusta el padding para dar más espacio alrededor del contenido */
    background-color: rgba(0, 15, 30, 0.45); /* Color de fondo con transparencia */
    backdrop-filter: blur(20px); /* Desenfoque del fondo detrás del nav */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
    border-radius: 100px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
    margin: 0 auto; /* Centrado horizontal */
    
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0 auto; /* Auto margins para centrar la lista */
    display: flex; /* Asegura que los elementos de la lista estén en una sola fila */
}

nav ul li {
    margin: 0 20px; /* Aumenta o reduce el espacio entre elementos si es necesario */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000; /* Cambio de color en hover */
}

/* Logo */
header .logo {
    position: absolute; /* Posiciona el logo en relación con el header */
    top: 10px;
    left: 100px;
    transform: translateX(0%);
    z-index: 10;
}

header .logo img {
    width: 150px;
    height: auto;
    display: block;
}

/* Main */
main {
    padding-top: calc(100vh - 50px); /* Espacio para el header */
    padding: 20px;
    background: #720455; /* Fondo del contenido principal */

}

.portada {
    height:70vh;
    position: relative;
    overflow: hidden;
}

#video-portada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el espacio disponible */
    z-index: 1; /* Coloca el video debajo del contenido del encabezado */
    transition: filter 0.5s ease-out; /* Suaviza la transición del filtro */
}

#video-portada.blur {
    filter: blur(8px); /* Aplica el efecto borroso */
}

.portada::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Degradado de transparente a negro */
    z-index: 2; /* Asegura que el degradado esté por encima del video */
}

#titulo {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 2px 2px 6px #fffcfc7c;
    display: none;
    transform: scale(1); /* Inicia con el tamaño normal */
    transition: transform 6s;
}
#titulo.zoom {
    transform: scale(1.5); /* Agrandar el título */
}


/* slider de videos */
#musica {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color:#0d0d0d; 
}

#prev{
    background: transparent;
    border: none;
    cursor: pointer;
}
#next {
    background: transparent;
    border: none;
    cursor: pointer;

}
#prev img{
    
    width: 20px;
    height: 20px;
}
#next img{
    width: 20px;
    height: 20px;
}

.slider-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden; 
}

.slide-video {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s, opacity 1s;
    opacity: 0.5;
    transform: scale(0.8) translateX(-50%);
    z-index: 1;
}

.slide-video.current,
.slide-video.next,
.slide-video.prev {
    display: block;
}

.slide-video.current {
    opacity: 1;
    transform: scale(1) translateX(0);
    z-index: 2;
}

.slide-video.next {
    transform: scale(0.8) translateX(-10%);
}

.slide-video.prev {
    transform: scale(0.8) translateX(10%);
}

#prev-container,
#next-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#prev-container {
    left: 0;
}

#next-container {
    right: 0;
}


.slide-video iframe {
    width: 100%;
    height: auto;
}

/* seccion de musica de spotify */
.spotify {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60%, 1fr));
    gap: 20px;
    justify-content: center;
}

.spotify div {
    width: 50%; 
    align-self: center;
}

.spotify div:nth-child(even) {
    justify-self: end;
}

.spotify div:nth-child(odd) {
    justify-self: start;
}


@media (max-width: 768px) {
    .spotify {
        grid-template-columns: 1fr;
    }
    .spotify div {
        justify-self: center;
    }
}


/* GRID videos de batallas  */
.batallas {
    display: flex;
    flex-direction: column;
}
#videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.asideSection{
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
}

.left-section{
    flex: 0.5; /* Ocupa un poco menos de un  tercio del espacio disponible */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.right-section {
    flex: 1;
    
}
.right-section h2{
    font-size: 18px;
    text-align: center;
}
.center-question {
    flex: 1; /* Ocupa un tercio del espacio disponible */
    text-align: center;
    font-size: 18px;
}

.social-media-links {
    display: flex;
    gap: 10px;
}

.social-media-links img {
    width: 24px;
    height: 24px;
}

.newsletter {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Alinea horizontalmente al centro */
}

input[type="email"] {
    width: 80%; /* Ocupa todo el ancho disponible */
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #3a0073;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background: #030637;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}


@media (max-width: 1024px) {
    #videos {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    #videos {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media (max-width: 320px) {
    #videos {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    
    .video-wrapper iframe {
        max-width: 70%;
    }
}