/* Estilos Base */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho/altura total */
    overflow-x: hidden; /* Oculta desbordamiento horizontal */
}

/* Header y Slider */
header {
    position: relative; /* Permite posicionar absolutamente el nav respecto a este contenedor */
    width: 100%; /* Toma todo el ancho de la ventana */
    padding: 20px 20px; /* Añade padding para no pegar el contenido a los bordes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;  /* Asegura que el header esté por encima de otros elementos */
    display: flex;  /* Asegura que los elementos del header estén en una sola fila */
    align-items: flex-start; /* Alinea el contenido al inicio del eje cruzado */
    justify-content: center; /* Centra el contenido a lo largo del eje principal */
}

/* Navegación */
nav {
    position: relative; /* Asegura que el nav esté en la posición correcta */
    display: inline-flex; /* Asegura que los elementos de la lista estén en una sola fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 10px 20px; /* Ajusta el padding para dar más espacio alrededor del contenido */
    background-color: rgba(0, 15, 30, 0.45); /* Color de fondo con transparencia */
    backdrop-filter: blur(20px); /* Desenfoque del fondo detrás del nav */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
    border-radius: 100px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
    margin: 0 auto; /* Centrado horizontal */
    
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0 auto; /* Auto margins para centrar la lista */
    display: flex; /* Asegura que los elementos de la lista estén en una sola fila */
}

nav ul li {
    margin: 0 20px; /* Aumenta o reduce el espacio entre elementos si es necesario */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000; /* Cambio de color en hover */
}

/* Logo */
header .logo {
    position: absolute; /* Posiciona el logo en relación con el header */
    top: 10px;
    left: 100px;
    transform: translateX(0%);
    z-index: 10;
}

header .logo img {
    width: 150px;
    height: auto;
    display: block;
}

/* Main */
main {
    padding-top: calc(100vh - 50px); /* Espacio para el header */
    padding: 20px;
    background: #720455; /* Fondo del contenido principal */

}

.image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white;
    text-align: center;
    padding: 10px;
}

.image-info h3, .image-info p {
    margin: 5px 0;
}

/* Secciones */
.news-container, .event-container, .photo-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-container article, .event-container .event, .photo-gallery img {
    flex-basis: 49%;
    margin-bottom: 20px;
    background: #910A67;
    padding: 10px;
    border-radius: 5px;
}

/* Slider */
.slider {
    position:relative;
    width:100%;
    height:calc(100vh - 70px);
    overflow:hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 4s ease, transform 4s ease; /* Transiciones suaves de opacidad y transformación */
    transform: scale(1.55); /* Un ligero zoom hacia fuera para empezar */
    opacity: 0; /* Comenzar invisible */
}

.slide.active {
    opacity: 1; /* Totalmente visible */
    transform: scale(1); /* Regresa al tamaño normal */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Efecto de acercamiento para el slider activo */
.slider .slide.active {
    transform: scale(1.1); /* Zoom cuando está activo */
}

.asideSection{
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
}

.left-section{
    flex: 0.5; /* Ocupa un poco menos de un  tercio del espacio disponible */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.right-section {
    flex: 1;
    
}
.right-section h2{
    font-size: 18px;
    text-align: center;
}
.center-question {
    flex: 1; /* Ocupa un tercio del espacio disponible */
    text-align: center;
    font-size: 18px;
}

.social-media-links {
    display: flex;
    gap: 10px;
}

.social-media-links img {
    width: 24px;
    height: 24px;
}

.newsletter {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Alinea horizontalmente al centro */
}

input[type="email"] {
    width: 80%; /* Ocupa todo el ancho disponible */
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #3a0073;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background: #030637;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Media Queries para diferentes dispositivos */
@media (max-width: 1024px) {
    header .logo img {
        width: 120px;
    }
}

@media (min-width: 1000px) {
    nav ul {
        flex-direction: row; /* Asegura que los elementos de la lista están en una sola fila */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
    }

    nav ul li {
        margin: 0 20px; /* Ajusta el margen para dar espacio adecuado entre los elementos */
    }
}

@media (max-width: 768px) {
    /* Ajustes para tabletas y dispositivos móviles más grandes */
    nav, nav ul {
        display: none; /* Oculta la navegación en dispositivos móviles */
    }

    header .logo {
        left: 15%; /* Mueve el logo al 50% de la anchura del contenedor */
        transform: translateX(-50%); /* Centra el logo exactamente en el medio */
        top: 10px; /* Mantiene la altura vertical */
    }

    header .logo img {
        width: 80px; /* Ajusta el tamaño del logo para dispositivos móviles */
    }

    .news-container, .event-container, .photo-gallery {
        flex-direction: column; /* Ajusta el diseño de las secciones para una sola columna */
    }

    .news-container article, .event-container .event, .photo-gallery img {
        flex-basis: 100%; /* Ajusta los elementos para tomar todo el ancho disponible */
    }
    .asideSection {
        width: auto;
        flex-direction: column; /* Cambia la disposición a vertical en pantallas pequeñas */
    }
    .asideSection h2{
        font-size: 16px;
    }
    .left-section, .right-section {
        flex: none; /* No estira los elementos */
        width: 100%; /* Ocupa el ancho completo */
        margin-bottom: 10px; /* Espacio entre los elementos */
    }
}

@media (max-width: 480px) {
    /* Ajustes para teléfonos móviles */
    header .logo img {
        width: 80px;
    }
}

.timeline {
    width: 100%;
    position: absolute;
    bottom: 0; /* Posición justo sobre el main */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.timeline-item {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.progress-bar-mask {
    width: 100%; /* Toma todo el ancho del elemento padre */
    background-color: #ccc; /* Fondo gris para la máscara */
    height: 5px; /* Altura visible de la máscara */
    position: relative; /* Necesario para el posicionamiento de la barra de progreso */
    overflow: hidden; /* Esconde cualquier parte de la barra que exceda el ancho inicial */
}

.progress-bar {
    background: red; /* Color rojo para la barra de progreso */
    height: 100%; /* La altura de la barra es la misma que la de la máscara */
    width: 0%; /* Inicio sin relleno */
    position:absolute; /* Posicionamiento absoluto respecto a su padre */
    left: 0; /* Alineado al lado izquierdo de la máscara */
    top: 0; /* Alineado al tope de la máscara */
    transition: width 4s linear; /* Transición suave durante 4 segundos */
}

.item-title {
    padding-top: 5px;
}
