/* Estilos Base */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Asegura que padding y border están incluidos en el ancho/altura total */
    overflow-x: hidden; /* Oculta desbordamiento horizontal */
}

/* Header y Slider */
header {
    position: relative; /* Permite posicionar absolutamente el nav respecto a este contenedor */
    width: 100%; /* Toma todo el ancho de la ventana */
    padding: 20px 20px; /* Añade padding para no pegar el contenido a los bordes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;  /* Asegura que el header esté por encima de otros elementos */
    display: flex;  /* Asegura que los elementos del header estén en una sola fila */
    align-items: flex-start; /* Alinea el contenido al inicio del eje cruzado */
    justify-content: center; /* Centra el contenido a lo largo del eje principal */
}

/* login */
.login-form {
    position: absolute;
    top: 20px; 
    right: 60px;
    z-index: 1004;
}

.login-form img {
    width: 40px; 
    height: auto;
}


/* Estilos para el menú navegación en móviles */
.mobile-nav {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background-color: rgba(0, 15, 30, 0.9);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.mobile-nav ul {
    list-style: none;
    padding: 20px;
}

.mobile-nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}


/* Navegación */
nav {
    position: relative; /* Asegura que el nav esté en la posición correcta */
    display: inline-flex; /* Asegura que los elementos de la lista estén en una sola fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 10px 20px; /* Ajusta el padding para dar más espacio alrededor del contenido */
    background-color: rgba(0, 15, 30, 0.45); /* Color de fondo con transparencia */
    backdrop-filter: blur(20px); /* Desenfoque del fondo detrás del nav */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
    border-radius: 100px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para dar profundidad */
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
    margin: 0 auto; /* Centrado horizontal */
    
}

nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0 auto; /* Auto margins para centrar la lista */
    display: flex; /* Asegura que los elementos de la lista estén en una sola fila */
}

nav ul li {
    margin: 0 20px; /* Aumenta o reduce el espacio entre elementos si es necesario */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff0000; /* Cambio de color en hover */
}

/* Logo */
header .logo {
    position: absolute; /* Posiciona el logo en relación con el header */
    top: 10px;
    left: 100px;
    transform: translateX(0%);
    z-index: 10;
}

header .logo img {
    width: 150px;
    height: auto;
    display: block;
}

/* Estilos para el main y sus secciones */
main {
    width: 100%; /* Asegura que main ocupe todo el ancho de la pantalla */
    display: flex;
    flex-direction: column; /* Organiza los contenidos en columna */
}

/* Estilos para la sección de noticias */
.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.news-item {
    width: 23%; /* Ajusta esto según el número de items que quieras por fila */
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff; /* Fondo para mejorar la legibilidad */
}

.news-item a {
    display: block;
    overflow: hidden; /* Esconde cualquier parte de la imagen que se salga de los límites */
}

.news-item img {
    width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    transition: transform 0.3s ease; /* Transición suave para el efecto de escala */
}

.news-item a:hover img {
    transform: scale(1.05); /* Aumenta el tamaño de la imagen al pasar el mouse */
}


.news-item p {
    padding: 10px;
    text-align: center;
    flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
    background: #f8f8f8; /* Fondo ligeramente diferente para el texto */
}

/* Estilos para el banner-flyer */
.banner-flyer {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 300px; /* Altura fija para el banner */
    position: relative; /* Posicionamiento relativo para contener absolutamente la imagen interna */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el contenedor */
}

.banner-flyer .banner-image {
    width: 100%; /* Ajusta la imagen para que llene completamente el ancho */
    position: absolute; /* Posiciona absolutamente la imagen dentro del contenedor */
    top: 50%; /* Posiciona la imagen en el centro verticalmente */
    left: 50%; /* Posiciona la imagen en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la imagen para que el centro esté exactamente en el medio del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    min-height: 100%; /* Asegura que la altura no sea menor que la del contenedor */
}

/* Estilos para la sección de noticias */
.news {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten según el ancho */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    padding: 20px 0; /* Espacio vertical para separar del contenido anterior/posterior */
}

.news-item {
    flex: 1 1 200px; /* Crecen para ocupar el espacio pero no menos de 200px */
    margin: 10px; /* Margen entre elementos */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Sombra para dar profundidad */
    position: relative; /* Posicionamiento relativo para el texto sobre la imagen */
}

.news-item img {
    width: 100%; /* La imagen ocupa todo el ancho de su contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    vertical-align: bottom; /* Alinea la imagen para evitar espacio extra abajo */
}



/* Slider */
.slider {
    position:relative;
    width:100%;
    height:calc(100vh - 70px);
    overflow:hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 4s ease, transform 4s ease; /* Transiciones suaves de opacidad y transformación */
    transform: scale(1.55); /* Un ligero zoom hacia fuera para empezar */
    opacity: 0; /* Comenzar invisible */
}

.slide.active {
    opacity: 1; /* Totalmente visible */
    transform: scale(1); /* Regresa al tamaño normal */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Efecto de acercamiento para el slider activo */
.slider .slide.active {
    transform: scale(1.1); /* Zoom cuando está activo */
}

/* Media Queries para diferentes dispositivos */
@media (max-width: 1024px) {
    header .logo img {
        width: 120px;
    }
}

@media (min-width: 1000px) {
    nav ul {
        flex-direction: row; /* Asegura que los elementos de la lista están en una sola fila */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
    }

    nav ul li {
        margin: 0 20px; /* Ajusta el margen para dar espacio adecuado entre los elementos */
    }
}

@media (max-width: 768px) {
    /* Ajustes para tabletas y dispositivos móviles más grandes */
    /* nav, nav ul {
        display: none; /* Oculta la navegación en dispositivos móviles */ 
    header .logo {
        left: 15%; /* Mueve el logo al 50% de la anchura del contenedor */
        transform: translateX(-50%); /* Centra el logo exactamente en el medio */
        top: 10px; /* Mantiene la altura vertical */
    }

    header .logo img {
        width: 80px; /* Ajusta el tamaño del logo para dispositivos móviles */
    }

    .news-container, .event-container, .photo-gallery {
        flex-direction: column; /* Ajusta el diseño de las secciones para una sola columna */
    }

    .news-container article, .event-container .event, .photo-gallery img {
        flex-basis: 100%; /* Ajusta los elementos para tomar todo el ancho disponible */
    }
    .asideSection {
        width: auto;
        flex-direction: column; /* Cambia la disposición a vertical en pantallas pequeñas */
    }
    .asideSection h2{
        font-size: 16px;
    }
    .left-section, .right-section {
        flex: none; /* No estira los elementos */
        width: 100%; /* Ocupa el ancho completo */
        margin-bottom: 10px; /* Espacio entre los elementos */
    }
    /* Mostrar el menú hamburguesa en pantallas más pequeñas */
    .nav-checkbox {
        display: block;
    }

    .hamburguer {
        display: block;
    }

    .nav-checkbox:checked + .hamburguer + .mobile-nav {
        transform: translateX(0); /* Mueve el menú a la vista cuando el checkbox está marcado */
    }
}

@media (max-width: 480px) {
    /* Ajustes para teléfonos móviles */
    header .logo img {
        width: 80px;
    }
    Mostrar el menú hamburguesa en pantallas más pequeñas
    .nav-checkbox {
        display: block;
    }

    .hamburguer {
        display: block;
    }

    .nav-checkbox:checked + .hamburguer + .mobile-nav {
        transform: translateX(0); /* Mueve el menú a la vista cuando el checkbox está marcado */
    }
}

.timeline {
    width: 100%;
    position: absolute;
    bottom: 0; /* Posición justo sobre el main */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.timeline-item {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.progress-bar-mask {
    width: 100%; /* Toma todo el ancho del elemento padre */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo gris para la máscara */
    height: 8px; /* Altura visible de la máscara */
    position: relative; /* Necesario para el posicionamiento de la barra de progreso */
    overflow: hidden; /* Esconde cualquier parte de la barra que exceda el ancho inicial */
    border-radius: 4px; /* Agrega bordes redondeados a la máscara */
}

.progress-bar {
    background: red; /* Color rojo para la barra de progreso */
    height: 100%; /* La altura de la barra es la misma que la de la máscara */
    width: 0%; /* Inicio sin relleno */
    position:absolute; /* Posicionamiento absoluto respecto a su padre */
    left: 0; /* Alineado al lado izquierdo de la máscara */
    top: 0; /* Alineado al tope de la máscara */
    transition: width 6s linear; /* Transición suave durante 4 segundos */
    border-radius: 4px; /* Asegura que los bordes de la barra también sean redondeados */
}

.item-title {
    padding-top: 5px;
}


/* Estilos del aside */
.asideSection {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
}

.left-section {
    flex: 0.5; /* Ocupa un poco menos de un tercio del espacio disponible */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.right-section {
    flex: 1;
}

.right-section h2 {
    font-size: 18px;
    text-align: center;
}

.center-question {
    flex: 1; /* Ocupa un tercio del espacio disponible */
    text-align: center;
    font-size: 18px;
}

.social-media-links {
    display: flex;
    gap: 10px;
}

.social-media-links img {
    width: 24px;
    height: 24px;
}

.newsletter {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

input[type="email"] {
    width: 80%; 
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #3a0073;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos del footer */
footer {
    background: #030637;
    color: #fff;
    padding: 20px;  /* Espacio alrededor del contenido */
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer p {
    font-size: 16px;
}