# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches de IDEs
/.vscode/
/.idea/
*.swp
*~
.DS_Store

# Directorios de entornos virtuales
/env/
/venv/
ENV/

# Archivos de configuración de entorno
.env
.env.local

# Carpeta de distribución / archivos empaquetados
/dist/
/build/
*.egg-info/
*.egg

# Archivos de base de datos locales
*.sqlite

# Carpeta de logs
logs/
*.log

# Carpeta de recursos estáticos que no deseas incluir
/static/
/media/

# Archivos y carpetas que pueden contener información sensible o son demasiado grandes
/db.sqlite3
*.pem
