# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches de IDEs
/.vscode/
/.idea/
*.swp
*~
.DS_Store

# Carpeta de distribución / archivos empaquetados
/dist/
/build/
*.egg-info/
*.egg

# Carpeta de logs
logs/
*.log


